# SPDX-License-Identifier: GPL-2.0-or-later
# Mirrors QEMU's own .editorconfig for the files kept in this repository.

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{c,h,S,py,rst,md,ld}]
indent_style = space
indent_size = 4

[{Makefile,*.mak}]
indent_style = tab
indent_size = 8

[*.patch]
trim_trailing_whitespace = false

[{scripts/qemu-tree,*.sh}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2
